


/*https://www.color-hex.com/color-palette/3497*/


/*mobile first, up to 768px */
html, body{
    margin:0;
    padding:0;
    height:100%;
    /*perspective: 700px;*/
}

body{ 
        width: 100%;
        height: 100vh;
        /*background-image: url(../images/me_chalkin_code2.jpeg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
         background-color: rgba(255, 255, 255, 0.2);*/
}
/*reset*/

 nav{
  display:none;
}



.mobile-background {
  position: fixed;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url(../images/me_chalkin_code2.jpeg);
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}





.overlay {
    height: 100%;
    width:0;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:  rgb(0,0,0);
    background-color:  hsla(203, 92%, 65%, 0.8);
    background-color: rgba(0,0,0,.8);
    overflow-x:hidden;
    transition: 0.5s;
}

.overlay-content{
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    font-family:'Quicksand';
    /*margin-top: 10%;*/
}
.overlay a {
    padding: 2.5%;
    text-decoration: none;
    font-size: 2.5em;
    color: rgba(136,43,226,.7) !important;
    display: block;
    transition: .7s;

}

.openbtn{
    position: fixed;
    top:1em;
    right:1em;
    padding: 0;
    text-decoration: none;
    font-size: 2.5em;
    color: #818181;
    display: block;
    animation: myMove 5s infinite;
}
    @keyframes myMove{
        50% {color: white;}
    }

.openbtnDesktop{
  display: none;
}

#main{
  margin-top: 0em;
}


.overlay a:hover, .overlay a:focus{
    color:#d70d0d !important;
}

.overlay .closebtn {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 5em;
}







.fa-container{
  display:flex;
  flex-direction: column;
  background-color: rgba(34,255,255,.4);
  padding-top:35%;

}

.faDescribe{
  margin: 0%;
  font-family:Quicksand;
  font-size: 3em;
  color:black/*#064273*/;
  font-weight: bold;
  width:100%;
  display: flex;
  justify-content: center;

}

.faDescribe2{
  width:75%;
  display:flex;
  align-self: center;
  text-align: justify;
  font-family: quicksand;
}

.fa-item{
  display: flex;
  flex-direction: column;
  margin-bottom:10%;
}






div > .fa{
    font-size: 5em;
    font-family: FontAwesome;
    text-decoration: none;
    color:#fd780bb5;
    display:flex;
    justify-content: center;

}



.header .fa:link{

}
.header .fa:visited{

}
.header .fa:hover{

}
.header .fa:active{

}

h1{
  display:none;
}

.mobileOnly{
  display:flex;
  margin: 0% 0% 0% 0%;
  font-family:raleway,Quicksand, Helvetica;
  font-size: 3em;
  color: hsla(111, 12%, 19%, 0.8)/* #188d9d*/ /*, #468189/*,#064273*//*#fffffff0*/;
  padding: 0% 0% 0% 0%;
  font-weight: bolder;
  width:90vw;
}



.desktopOnly{
  display:none !important;
  margin: 35% 5% 0%;
  font-family:'Permanent Marker','Berkshire Swash',muli;
  font-size: 3.5em;
  color: #188d9d /*, #468189/*,#064273*/;
  text-align: center;
  padding: 0% 0%;
  font-weight: normal;
}

.header > h2{
  margin: 10% 5% 0%;
  font-family: 'muli';
  font-size: 1.5em;
  color:black;/* #468189/*,#064273*/
  text-align: center;
  padding: 0% 0%;
  font-weight: bold;

}

.header > div > p {
  margin: 0% 0% 0% 0%;
  font-family: 'Quicksand';
  font-size: 1.3em;
  color:white/*#064273*/;
  /* font-weight: bold; */
}
.displayArea{
  display: flex;
  font-family: Quicksand;
  justify-content: center;
}
.displayArea p{
  margin: 0px;
  font-family: 'Quicksand';
  font-size: 1em;
  color: white;
}
.displayArea h2, .displayArea h3{
  text-align: center;
  margin:10% 0px 0px 0px;
}
#self-taught{
  color:navy;
}
ul{
  text-align: center;
}

.image-row{
  display: flex;
}
.image-row-item{
  height:4em;
  width:4em;
}



.header{
  display:flex;
  flex-direction: column;
  background-color: rgba(34,255,255,.4);
  height:100vh;
  justify-content: space-between;
  width:100vw;
}


ul{
   list-style-position:  inside; 
   list-style-type:none;
   color:black /*#468189/*#064273*/;
   text-align:center;
   font-weight: none;
   display:inline;
}

ul a {
  text-decoration: none;
  color:black/*#f4e9cd #031926 #468189*/;
}
ul a:hover{
  text-decoration: underline;
  color:white;
}


 div.thumb{
   width:43%;
   max-height:160px;
   /*background-color: white; */
   /*box-shadow: 3px 3px 5px 6px #bbb;*/
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
   /*margin: 25% auto 5%;*/
   border-radius: 10px;
   display: block;
 }

 div.info-container{
    text-align: center;
    padding:5%;
    border-radius: 10px;
    font-size: 1em;
 }

 img{
    display: block;
    width: 100%;
    opacity: .8;
    height: 100%;
    margin: 0% auto 0;
    border-radius: 8px 8px 0px 0px;
 }

div > .topIcon{
    margin-top:20%;
}

.aboutFCC{
  margin-top: 2.3em !important;
  margin-bottom: 0px !important;
  padding:0px;
}

#aboutP{
  margin-bottom: 0px;
  font-size: 1.5em;
}

footer{
  height: 4em;
}
/*div > a > button{
  display:block;
  margin: 0px auto 0px;
}
button{
 background: transparent;
 border:0;
 padding:0;
 cursor: pointer;
 outline:0;
 -webkit-appearance: none;
}

button{

padding:1.6em 2em;
display: block;

font-size:2em;
font-family: 'Open Sans', Helvetica;
border-radius: 4px;
border-bottom: 1px solid rgba(28,227,125,0.5);
background: rgba(22,230,137,1);
color: #fff;
box-shadow: 0px 0px 0px rgba(15,165,60,0.1);
-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
        transform: translateZ(0);
-webkit-transform: all 0.2s ease;
   -moz-transform: all 0.2s ease;
    -ms-transform: all 0.2s ease;
        transform: all 0.2s ease;
}

button:hover{
  top: -10px;
  box-shadow: 0px 10px 10px rgba(15,165,60,0.2)
  -webkit-transform: rotateX(20deg);
   -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
        transform: rotateX(20deg);
}

button:active{
  top: 0px;
  box-shadow: 0px 0px 0px rgba(15,165,60, 0.0);
  background:rgba(20,224,133,1);
}
*/

.button {
  position: relative;
  background: #031926;
  /*bottom:2%;
  right:2%;*/
  margin: 0% auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #F4E9CD/*#26A69A*/;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : #F4E9CD;
  transition : .3s;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #031926;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

/*ul{
  color:black;
}*/

#resume{
  width:60%;
  margin-top: 5%;
}


.about-container{
  display:flex;
  /* flex-direction: row; */
  /* flex-wrap:nowrap; */
  text-align: center;
  /* align-items: center; */
}

.about-item{
  /*background-color: rgba(6,3,170,0.3);*/
  /*background-color: rgba(127,205,255,0.5);*/
  background-color: #fd780b87;
  height:24vw;
  width:0;
  flex:1;
  border:#ffffff1f 1px solid;
  /*border-color: rgba(219, 142, 100, 0.21);*/
  
}

.about-item > h1{
  width: 100%;
  color:white, #3b5c91;
  font-family: 'Quicksand';
  display:flex;
  font-size: 1.1em;
  align-items: center;
  justify-content: center;
  /* this worked ^ because the parent is also display flex */
  /* background-color: rgba(127,205,255,0.5) */
}

a.about-item > div{
  width: 100%;
  color:white;
  font-family: Roboto;
  display:flex;
  /* margin-top: 40%; */
  font-size: 20px;
  /* background-color: rgba(127,205,255,0.5) */
}

a{
  text-decoration: none;
}

.displayArea{
  /* background-color:rgba(0,0,0,0.3); */
  height:50%;
  width:100%;
}
/*
.displayArea div{
  display:none;
}*/

.displayAreaItem{
  display:none;
}


#folio{
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  flex-wrap:wrap;"
}











/*between phone*/
@media only screen and (min-width: 460px){






}












/*for desktop only */
@media only screen and (min-width: 768px){

    body{
      height: 100vh;
      /*  background: linear-gradient(90deg,#C3E2F7, #D1E9E4, #F8E6E9);*/
}

    img{/*
        display: none;*/
    }

    nav{
      display: inline-flex;
      justify-content: space-between;
      /* background-color: rgba(136, 43, 226, 0.4); */
      /*background-color: rgba(127,205,255,0.5);*/
      padding:1em 1em;
    }
    .openbtn{
      display:none;
    }


    .navLeft{
    }
    div.navLeft a{
      font-size:3em;
      color:rgba(66,47,127,.7);
      font-family: Quicksand;
    }
    .navRight{
      display:inline;
      float: right;
      font-size:2em;
      font-family: muli,monospace;
    }
    .nav-item{
     display: inline;
     text-decoration: none;
     color:white;
    }

    .nav-item > a {
      text-decoration: none;
      color:rgba(66,47,127,.7);
      font-family: Quicksand;
      margin-right:.5em;
    }

    div.navLeft p{
     margin:0px;
     font-family:Quicksand;
     font-size:1.5em;
    }

    .mobile-background {
  position: fixed;
  z-index: -1;    
  /*background-image: url(../images/abstract.jpeg);*/
  background-image: url(../images/foliobackground2.jpg);
  /*background-image: url(https://images.unsplash.com/14/unsplash_524000a90aaad_1.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80 );
  */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  opacity: .9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.mobileOnly{
  display:none !important;
}





  .header > div > p {
    display:none;
}



ul{
   list-style-position:  inside; 
   list-style-type:none;
   font-family: Quicksand;
   font-size: 1.5em;
   color:black /*#F4E9CD/*#468189/* #064273*/;
   text-align:center;
   font-weight: none;
   margin-bottom:35%;
   display:inline;
}

ul a:hover {
  text-decoration: none;
  color:red /*#f4e9cd/*#031926 #468189*/;
}

div.thumb{
  max-height: none;
  min-width:22%;
  margin:0% 1em 0%;
  min-height: 36%;
}


#main{
  /*margin:0px;*/
  /*transition: margin-left .5s;*/
  padding:0px;
  height:100vh;
}

.fa-container{
  display:flex;
  /*align-items: center;*/
  /*height:100vh;*/
  /*flex-direction:row;*/
  /*flex-wrap:wrap;*/
  /*justify-content: center;*/
  padding:0%;
  padding-top:14%;
}
.faDescribe{
  font-family: Quicksand;
  color:black, #064273;
  font-weight: bold;
  width:100%;
}
.faDescribe2{
  width:75%;
  color:black;
  font-size: 2em;
  font-family:Quicksand;
  font-weight:normal;
  text-align: center;
}

.fa-item{
  margin-top: 6%;
  min-width:50%;
}

div > .fa{
    font-size: 6.5em;
    font-family: FontAwesome;
    text-align: center;
    text-decoration: none;
    color:  #fd780bb5;
}




.about-container-container{
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
}

.about-container{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  
  bottom:0%;
}

.about-item{
  /*background-color:rgba(251,75,75,0.3);*/
   /*rgba(6,3,170,0.3);*/
  /*background-color: rgba(127,205,255,0.5);*/
  height:13vh;
  width:0;
  flex:1;
  border: #ffffff1f 1px solid;
  /*border-color: rgba(219, 142, 100, 0.21);*/
  background-color: #fd780b87;
}

.about-item > h1{
  width: 100%;
  color:white /*#3b5c91*/;
  font-family: 'Quicksand';
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  /* background-color: rgba(127,205,255,0.5) */
}

a.about-item > div{
  width: 100%;
  color:white;
  font-family: Roboto;
  display:flex;
  /* margin-top: 40%; */
  font-size: 20px;
  /* background-color: rgba(127,205,255,0.5) */
}

a{
  text-decoration: none;
}

.displayArea{
  /*background-color:rgba(0,0,0,0.3);*/
  width:100%;
}

.displayArea h3{
  font-size: 2em;
}
.displayArea p{
  font-size:1.5em;
}

/*.displayArea div{
  display:none;
}
*/


.diplayAreaItem{
  display:none;
}

.image-row-item{
  height:6em;
  width:6em;
}

#folio{
  justify-content: space-evenly;
  align-items:center;
  flex-wrap: nowrap;
}







}



/*
https://images.unsplash.com/photo-1530913629899-1037032b8392?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80*/


/*https://images.unsplash.com/photo-1490713230272-bf236b61ad43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1778&q=80*/


/*   https://images.unsplash.com/photo-1503435824048-a799a3a84bf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80*/




/* this is genius, to help find issues that pop up with width and horizontal scroll bar that shouldn't be there 
{
  background:#000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/






html, body{
  overflow-x:hidden;
}